.home {
    padding-top: 100px;
    min-height: 100vh;
    background: rgb(101, 12, 12);
    background-image: url("../../public/imgs/noise.png");
    text-align: center;
    
    /* background-size: cover; */
}
.home-grid {

    display: flex;
    justify-content: center;
}

body {
    margin: 0 auto;
    padding: 0;
    background: #222;
  }
  
  .cow-card
  {
    background-color: rgb(238, 229, 60);
    padding: 30px;
    border-radius: 30px;
    border: 5px solid rgb(101, 12, 12);
    width: fit-content;
  }